{{ template "header.html" }}
<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right"></ul>
    </div>
    <div class="jumbotron">
        <h1>Discord</h1>
        <p class="lead">Sign in complete.</p>
        <p>If you're not already signed into the server use the link below to get invited. (or right click and copy-link
            for the Windows/OSX Client)</p>
        <p><a href="{{ .DiscordUrl }}" target="_blank"><img src="static/Discord-Logo-Wordmark-WnC.png"
                                                            width="350px"/></a></p>
        <p>Once you're in chat copy and paste the entire line below to have the bot add you to the correct roles.</p>
        <p><b>!{{ .Name }} {{ .Auth }}</b></p>
    </div>
</div>
{{ template "footer.html" }}
